header {
    text-align: center;
}

.feature_title_container {
    display: grid;
    margin: auto;
}

.feature_title_container h2 {
    margin: 0px;
}

.feature_icon {
    width: 64px;
    height: 64px;
    margin: auto;
    -webkit-filter: drop-shadow(0px 0px 0px 5px #0000006b);
    filter: drop-shadow(0px 2px 5px #0000006b);
}

.formats_table_container {
    text-align: center;
}

.formats_table {
    border: 0px;
    max-width: 60%;
    margin: auto;
}

.formats_table tr th {
    font-weight: normal;
    border: 0.2px solid rgba(128, 128, 128, 0.4);
    text-align: center;
    vertical-align: middle;
    min-width: 150px;
    padding: 8px;
}

.formats_table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}