::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

 ::-webkit-scrollbar-track {
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(127, 127, 127, 0.6);
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgb(110, 110, 110);
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgb(110, 110, 110);
}

 ::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(95, 91, 91, 1);
}

 ::-webkit-scrollbar-corner {
    background: none;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

header {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.header_logo,
.header_logo_small {
    -webkit-filter: drop-shadow(0px 0px 0px 5px #00000099);
    filter: drop-shadow(0px 2px 5px #00000099);
}

.header_logo_small {
    width: 32px;
    height: 32px;
    margin: -15px 0px;
}

.header_container {
    text-align: center;
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, 0.6);
}

.list_type_1,
.list_type_2 {
    text-align: center;
    padding: 10px 50px 50px 50px;
}

.list_type_1 {
    background-color: #a0a0a05e;
}

.list_type_2 {
    background-color: white;
}

.list_type_1 p,
.list_type_2 p,
.list_type_1 h,
.list_type_2 h {
    max-width: 820px;
    margin: 20px auto;
}

.body_screenshot {
    box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    width: 80%;
    height: auto;
    transition: width 500ms
}

.menu {
    padding: 10px;
    border-radius: 4px;
}

.menu li:hover {
    border-bottom: 2px solid rgba(214, 116, 45, 1);
}

.menu li {
    border-bottom: 2px solid transparent;
    margin: 4px 8px 18px 8px;
    padding: 0px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    width: 110px;
    color: rgba(255, 255, 255, 0.75);
}

.menu li a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    display: block;
}

.menu li a:visited {
    color: rgb(255, 255, 255, 0.4);
}

li.selected {
    border-bottom: 2px solid rgba(214, 116, 45, 1);
    font-weight: bold;
}

.download_button img {
    width: 250px;
    height: auto;
}

footer {
    background: #a0a0a05e;
}

#footer_info {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding: 50px;
    padding: 20px;
}

.footer_link {
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
}

.footer_link:hover,
.footer_link:active {
    font-weight: bold;
    opacity: 1;
}

#fine_print {
    text-align: left;
    font-size: 13px;
    width: 35%;
}

#about {
    text-align: center;
    padding: 50px 50px 20px 50px;
}

.attribution {
    font-size: 13px;
    opacity: 0.6;
    margin-bottom: 20px;
}

.attribution:hover {
    opacity: 1;
}

@media screen and (prefers-color-scheme: dark) {
    body,
    footer,
    .list_type_1 {
        color: white;
        background-color: #1d1d1d;
    }
    .list_type_2 {
        background-color: #bdbdbd3b;
    }
}

@media screen and (max-width: 920px) {
    .body_screenshot {
        width: 100%;
    }
    .list_type_1,
    .list_type_2 {
        padding: 10px 5% 50px 5%;
    }
}